<!DOCTYPE html>
<html>
<head>
  <title>OpenNutritionDatabase</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'http://dciccale.github.com/css3-github-ribbon/css3-github-ribbon.css' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
